.background-image {
    position: absolute;
    left: 0;
    right: 0;
    
    display: block;
    height: 800px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  .content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 1;
  }

@media (min-width:320px)  { .custom-img{
  height: 225px;
}}
@media (min-width:481px)  { .custom-img{
  height: 300px;}}
@media (min-width:641px)  { .custom-img{
  height: 350px; }}
@media (min-width:961px)  { .custom-img{
  height: 400px; }}
@media (min-width:1025px) { .custom-img{
  height: 450px; }}
@media (min-width:1281px) {.custom-img{
  height: 500px; }}
  